doctype html
html(lang="en")
  head
    title Login page
  body
      h1 Welcome User! 
      p Please Enter Your Name! 
      form(action='trackName' method="post")
        input(id="username" name="username")
        button(type='submit') submit

